################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

# Pre-compiled headers
/ipch

# nuget packages
packages/

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates
*.vc.db
*.vc.opendb

# build output
**/Debug/
**/Release/
**/Bin/
**/Obj/
**/Pch/